@charset "UTF-8";

body {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

button {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

/* side nav */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

/* sidenav links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: whitesmoke;
	display: block;
	transition: 0.3s;
}

/* change color when mouse over links */
.sidenav a:hover {
	color: white;
	cursor: pointer;
}

/* position + style close button */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 35px;
	margin-left: 50px;
}

/* style page content */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* change sidenav style on smaller screens */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

/* center name */
.name {
	text-align: center;
}

.open {
	font-size: 35px;
	position: absolute;
	top: 45px;
	left: 45px;
	cursor: pointer;
}

.open:hover {
	color: white;
}

h1 {
	font-size: 40px;
}

p {
	padding: 15px;
	font-size: 20px;
}

body {
	background-image: url("../images/ss070.gif");
	color: whitesmoke;
}

* {
	box-sizing:border-box
}

/*Project specifics*/
.accordion {
    background-color: #6b6b6b;
    color: #ececec;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.1em;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active .accordion:hover {
    background-color: #5f5f5f;
}

.active:after {
    content: '\2796';
}

.panel {
    padding: 0 18px;
    background-color: #5f5f5f;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.panel a:link {
    color: whitesmoke;
}

.panel a:visited {
    color: whitesmoke;
}